@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Plus Jakarta Sans", system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #ffffff; /* Main text color */
  background-color: #02160f; /* Background color */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  color-scheme: light;
}

a {
  font-weight: 500;
  color: #b3ff4a;
  text-decoration: none;
}
a:hover {
  color: #8ddc3a;
}

.endpoint-card {
  border-radius: 25px !important;
  border: 1px solid rgba(255, 255, 255, 0.5) !important;
  background: rgba(255, 255, 255, 0.1) !important;
  backdrop-filter: blur(30px) !important;
  -webkit-backdrop-filter: blur(10px) !important;
  color: #fff !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3) !important;
}

.contact-form-field {
  border-radius: 25px !important;
  border: 1px solid rgba(255, 255, 255, 0.5) !important;
  background: rgba(255, 255, 255, 0.1) !important;
  backdrop-filter: blur(30px) !important;
  -webkit-backdrop-filter: blur(10px) !important;
  color: #fff !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3) !important;
}

.contact-form-field select,
.contact-form-field input {
  background: rgba(255, 255, 255, 0.1) !important;
  color: #fff !important;
}

.contact-form-field option {
  background: #222 !important;
  color: #fff !important;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow-x: hidden;
}

/* Customize heading styles */
h1 {
  @apply text-h1;
}
h2 {
  @apply text-h2;
}
h3 {
  @apply text-h3;
}
h4 {
  @apply text-h4;
}
p {
  @apply text-p;
}

.subtitle {
  font-size: 0.75em;
  color: #b3ff4a;
  font-weight: 600;
  letter-spacing: -0.015em;
}

/* .ReactFlagsSelect-module_selectOptions__3LNBJ {
  background-color: red;
  color: white;
} */

.menu-flag ul {
  background-color: #02150f;
  border-radius: 10px;
}

.menu-flag div {
  background-color: #02150f;
  border-radius: 10px;
}

.menu-flag input {
  background-color: #02150f;
  border-radius: 10px;
}

.uppercase-input {
  text-transform: uppercase;
}

.endpoint-table {
  border-radius: 25px !important;
  background: rgba(255, 255, 255, 0.1) !important;
  backdrop-filter: blur(30px) !important;
  -webkit-backdrop-filter: blur(10px) !important;
  color: #fff !important;
}

.Toastify__toast-container--top-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.glowing-endpoint-card {
  border-radius: 25px !important;
  border: 1px solid rgba(255, 255, 255, 0.5) !important;
  background: rgba(255, 255, 255, 0.1) !important;
  backdrop-filter: blur(30px) !important;
  -webkit-backdrop-filter: blur(10px) !important;
  color: #fff !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3), 0 0 20px rgba(179, 255, 74, 0.5) !important;
}
